@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* === Base Colors === */
  --color-background: #121212;
  --color-surface: #1E1E1E;
  --color-border: #55595f;

  --color-text-primary: #FDFDFD;
  --color-text-secondary: #EDEDED;
  --color-text-inverted: #212121;
  
  --color-brand-primary: #E91E63;

  /* === Modifiers === */
  --hover-brand-primary: #D81B60;
}

body {
  background: var(--color-background);
  @apply font-rubik;
}
